# {{scheme-slug}}
# Author: {{scheme-author}}

set -l color00 '#{{base00-hex}}'
set -l color01 '#{{base01-hex}}'
set -l color02 '#{{base02-hex}}'
set -l color03 '#{{base03-hex}}'
set -l color04 '#{{base04-hex}}'
set -l color05 '#{{base05-hex}}'
set -l color06 '#{{base06-hex}}'
set -l color07 '#{{base07-hex}}'
set -l color08 '#{{base08-hex}}'
set -l color09 '#{{base09-hex}}'
set -l color0A '#{{base0A-hex}}'
set -l color0B '#{{base0B-hex}}'
set -l color0C '#{{base0C-hex}}'
set -l color0D '#{{base0D-hex}}'
set -l color0E '#{{base0E-hex}}'
set -l color0F '#{{base0F-hex}}'

set -U FZF_DEFAULT_OPTS "
  --color=fg:$color0F,bg:$color00,hl:$color0C
  --color=fg+:$color0F,bg+:$color06,gutter:$color00,hl+:$color0C
  --color=prompt:$color0C,pointer:$color0A,marker:$color0A
  --color=spinner:$color09,info:$color0B
"
