# frontemare
# Author: tetutaro

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#637599'
local color02='#ffffff'
local color03='#8da6d9'
local color04='#ffffff'
local color05='#d3d5d9'
local color06='#ffffff'
local color07='#ffffff'
local color08='#d98da6'
local color09='#ffffff'
local color0A='#d9a68d'
local color0B='#8dd9d9'
local color0C='#8dc0d9'
local color0D='#8da6d9'
local color0E='#a68dd9'
local color0F='#ffffff'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
