# {{scheme-slug}}

|  NAME  |   HEX   |  R  |  G  |  B  | R(DEC) | G(DEC) | B(DEC) |  H  |  S  |  V  |
|:------:|:-------:|----:|----:|----:|:-------|:-------|:-------|----:|----:|----:|
| base00 | #{{base00-hex}} | {{base00-rgb-r-pad}} | {{base00-rgb-g-pad}} | {{base00-rgb-b-pad}} | {{base00-dec-r-pad}} | {{base00-dec-g-pad}} | {{base00-dec-b-pad}} | {{base00-hsv-h-pad}} | {{base00-hsv-s-pad}} | {{base00-hsv-v-pad}} |
| base01 | #{{base01-hex}} | {{base01-rgb-r-pad}} | {{base01-rgb-g-pad}} | {{base01-rgb-b-pad}} | {{base01-dec-r-pad}} | {{base01-dec-g-pad}} | {{base01-dec-b-pad}} | {{base01-hsv-h-pad}} | {{base01-hsv-s-pad}} | {{base01-hsv-v-pad}} |
| base02 | #{{base02-hex}} | {{base02-rgb-r-pad}} | {{base02-rgb-g-pad}} | {{base02-rgb-b-pad}} | {{base02-dec-r-pad}} | {{base02-dec-g-pad}} | {{base02-dec-b-pad}} | {{base02-hsv-h-pad}} | {{base02-hsv-s-pad}} | {{base02-hsv-v-pad}} |
| base03 | #{{base03-hex}} | {{base03-rgb-r-pad}} | {{base03-rgb-g-pad}} | {{base03-rgb-b-pad}} | {{base03-dec-r-pad}} | {{base03-dec-g-pad}} | {{base03-dec-b-pad}} | {{base03-hsv-h-pad}} | {{base03-hsv-s-pad}} | {{base03-hsv-v-pad}} |
| base04 | #{{base04-hex}} | {{base04-rgb-r-pad}} | {{base04-rgb-g-pad}} | {{base04-rgb-b-pad}} | {{base04-dec-r-pad}} | {{base04-dec-g-pad}} | {{base04-dec-b-pad}} | {{base04-hsv-h-pad}} | {{base04-hsv-s-pad}} | {{base04-hsv-v-pad}} |
| base05 | #{{base05-hex}} | {{base05-rgb-r-pad}} | {{base05-rgb-g-pad}} | {{base05-rgb-b-pad}} | {{base05-dec-r-pad}} | {{base05-dec-g-pad}} | {{base05-dec-b-pad}} | {{base05-hsv-h-pad}} | {{base05-hsv-s-pad}} | {{base05-hsv-v-pad}} |
| base06 | #{{base06-hex}} | {{base06-rgb-r-pad}} | {{base06-rgb-g-pad}} | {{base06-rgb-b-pad}} | {{base06-dec-r-pad}} | {{base06-dec-g-pad}} | {{base06-dec-b-pad}} | {{base06-hsv-h-pad}} | {{base06-hsv-s-pad}} | {{base06-hsv-v-pad}} |
| base07 | #{{base07-hex}} | {{base07-rgb-r-pad}} | {{base07-rgb-g-pad}} | {{base07-rgb-b-pad}} | {{base07-dec-r-pad}} | {{base07-dec-g-pad}} | {{base07-dec-b-pad}} | {{base07-hsv-h-pad}} | {{base07-hsv-s-pad}} | {{base07-hsv-v-pad}} |
| base08 | #{{base08-hex}} | {{base08-rgb-r-pad}} | {{base08-rgb-g-pad}} | {{base08-rgb-b-pad}} | {{base08-dec-r-pad}} | {{base08-dec-g-pad}} | {{base08-dec-b-pad}} | {{base08-hsv-h-pad}} | {{base08-hsv-s-pad}} | {{base08-hsv-v-pad}} |
| base09 | #{{base09-hex}} | {{base09-rgb-r-pad}} | {{base09-rgb-g-pad}} | {{base09-rgb-b-pad}} | {{base09-dec-r-pad}} | {{base09-dec-g-pad}} | {{base09-dec-b-pad}} | {{base09-hsv-h-pad}} | {{base09-hsv-s-pad}} | {{base09-hsv-v-pad}} |
| base0A | #{{base0A-hex}} | {{base0A-rgb-r-pad}} | {{base0A-rgb-g-pad}} | {{base0A-rgb-b-pad}} | {{base0A-dec-r-pad}} | {{base0A-dec-g-pad}} | {{base0A-dec-b-pad}} | {{base0A-hsv-h-pad}} | {{base0A-hsv-s-pad}} | {{base0A-hsv-v-pad}} |
| base0B | #{{base0B-hex}} | {{base0B-rgb-r-pad}} | {{base0B-rgb-g-pad}} | {{base0B-rgb-b-pad}} | {{base0B-dec-r-pad}} | {{base0B-dec-g-pad}} | {{base0B-dec-b-pad}} | {{base0B-hsv-h-pad}} | {{base0B-hsv-s-pad}} | {{base0B-hsv-v-pad}} |
| base0C | #{{base0C-hex}} | {{base0C-rgb-r-pad}} | {{base0C-rgb-g-pad}} | {{base0C-rgb-b-pad}} | {{base0C-dec-r-pad}} | {{base0C-dec-g-pad}} | {{base0C-dec-b-pad}} | {{base0C-hsv-h-pad}} | {{base0C-hsv-s-pad}} | {{base0C-hsv-v-pad}} |
| base0D | #{{base0D-hex}} | {{base0D-rgb-r-pad}} | {{base0D-rgb-g-pad}} | {{base0D-rgb-b-pad}} | {{base0D-dec-r-pad}} | {{base0D-dec-g-pad}} | {{base0D-dec-b-pad}} | {{base0D-hsv-h-pad}} | {{base0D-hsv-s-pad}} | {{base0D-hsv-v-pad}} |
| base0E | #{{base0E-hex}} | {{base0E-rgb-r-pad}} | {{base0E-rgb-g-pad}} | {{base0E-rgb-b-pad}} | {{base0E-dec-r-pad}} | {{base0E-dec-g-pad}} | {{base0E-dec-b-pad}} | {{base0E-hsv-h-pad}} | {{base0E-hsv-s-pad}} | {{base0E-hsv-v-pad}} |
| base0F | #{{base0F-hex}} | {{base0F-rgb-r-pad}} | {{base0F-rgb-g-pad}} | {{base0F-rgb-b-pad}} | {{base0F-dec-r-pad}} | {{base0F-dec-g-pad}} | {{base0F-dec-b-pad}} | {{base0F-hsv-h-pad}} | {{base0F-hsv-s-pad}} | {{base0F-hsv-v-pad}} |
