# {{scheme-slug}}

|  NAME  |   HEX   |  R  |  G  |  B  |  H  |  S  |  V  |
|:------:|:-------:|----:|----:|----:|----:|----:|----:|
| baseBG | #{{baseBG-hex}} | {{baseBG-rgb-r-pad}} | {{baseBG-rgb-g-pad}} | {{baseBG-rgb-b-pad}} | {{baseBG-hsv-h-pad}} | {{baseBG-hsv-s-pad}} | {{baseBG-hsv-v-pad}} |
| baseBg | #{{baseBg-hex}} | {{baseBg-rgb-r-pad}} | {{baseBg-rgb-g-pad}} | {{baseBg-rgb-b-pad}} | {{baseBg-hsv-h-pad}} | {{baseBg-hsv-s-pad}} | {{baseBg-hsv-v-pad}} |
| baseBf | #{{baseBf-hex}} | {{baseBf-rgb-r-pad}} | {{baseBf-rgb-g-pad}} | {{baseBf-rgb-b-pad}} | {{baseBf-hsv-h-pad}} | {{baseBf-hsv-s-pad}} | {{baseBf-hsv-v-pad}} |
| baseBF | #{{baseBF-hex}} | {{baseBF-rgb-r-pad}} | {{baseBF-rgb-g-pad}} | {{baseBF-rgb-b-pad}} | {{baseBF-hsv-h-pad}} | {{baseBF-hsv-s-pad}} | {{baseBF-hsv-v-pad}} |
| baseFg | #{{baseFg-hex}} | {{baseFg-rgb-r-pad}} | {{baseFg-rgb-g-pad}} | {{baseFg-rgb-b-pad}} | {{baseFg-hsv-h-pad}} | {{baseFg-hsv-s-pad}} | {{baseFg-hsv-v-pad}} |
| baseFG | #{{baseFG-hex}} | {{baseFG-rgb-r-pad}} | {{baseFG-rgb-g-pad}} | {{baseFG-rgb-b-pad}} | {{baseFG-hsv-h-pad}} | {{baseFG-hsv-s-pad}} | {{baseFG-hsv-v-pad}} |
| baseB1 | #{{baseB1-hex}} | {{baseB1-rgb-r-pad}} | {{baseB1-rgb-g-pad}} | {{baseB1-rgb-b-pad}} | {{baseB1-hsv-h-pad}} | {{baseB1-hsv-s-pad}} | {{baseB1-hsv-v-pad}} |
| baseB2 | #{{baseB2-hex}} | {{baseB2-rgb-r-pad}} | {{baseB2-rgb-g-pad}} | {{baseB2-rgb-b-pad}} | {{baseB2-hsv-h-pad}} | {{baseB2-hsv-s-pad}} | {{baseB2-hsv-v-pad}} |
| baseB3 | #{{baseB3-hex}} | {{baseB3-rgb-r-pad}} | {{baseB3-rgb-g-pad}} | {{baseB3-rgb-b-pad}} | {{baseB3-hsv-h-pad}} | {{baseB3-hsv-s-pad}} | {{baseB3-hsv-v-pad}} |
| baseB4 | #{{baseB4-hex}} | {{baseB4-rgb-r-pad}} | {{baseB4-rgb-g-pad}} | {{baseB4-rgb-b-pad}} | {{baseB4-hsv-h-pad}} | {{baseB4-hsv-s-pad}} | {{baseB4-hsv-v-pad}} |
| baseB5 | #{{baseB5-hex}} | {{baseB5-rgb-r-pad}} | {{baseB5-rgb-g-pad}} | {{baseB5-rgb-b-pad}} | {{baseB5-hsv-h-pad}} | {{baseB5-hsv-s-pad}} | {{baseB5-hsv-v-pad}} |
| baseF1 | #{{baseF1-hex}} | {{baseF1-rgb-r-pad}} | {{baseF1-rgb-g-pad}} | {{baseF1-rgb-b-pad}} | {{baseF1-hsv-h-pad}} | {{baseF1-hsv-s-pad}} | {{baseF1-hsv-v-pad}} |
| baseF2 | #{{baseF2-hex}} | {{baseF2-rgb-r-pad}} | {{baseF2-rgb-g-pad}} | {{baseF2-rgb-b-pad}} | {{baseF2-hsv-h-pad}} | {{baseF2-hsv-s-pad}} | {{baseF2-hsv-v-pad}} |
| baseF3 | #{{baseF3-hex}} | {{baseF3-rgb-r-pad}} | {{baseF3-rgb-g-pad}} | {{baseF3-rgb-b-pad}} | {{baseF3-hsv-h-pad}} | {{baseF3-hsv-s-pad}} | {{baseF3-hsv-v-pad}} |
| baseF4 | #{{baseF4-hex}} | {{baseF4-rgb-r-pad}} | {{baseF4-rgb-g-pad}} | {{baseF4-rgb-b-pad}} | {{baseF4-hsv-h-pad}} | {{baseF4-hsv-s-pad}} | {{baseF4-hsv-v-pad}} |
| baseF5 | #{{baseF5-hex}} | {{baseF5-rgb-r-pad}} | {{baseF5-rgb-g-pad}} | {{baseF5-rgb-b-pad}} | {{baseF5-hsv-h-pad}} | {{baseF5-hsv-s-pad}} | {{baseF5-hsv-v-pad}} |
| baseF6 | #{{baseF6-hex}} | {{baseF6-rgb-r-pad}} | {{baseF6-rgb-g-pad}} | {{baseF6-rgb-b-pad}} | {{baseF6-hsv-h-pad}} | {{baseF6-hsv-s-pad}} | {{baseF6-hsv-v-pad}} |
| baseF7 | #{{baseF7-hex}} | {{baseF7-rgb-r-pad}} | {{baseF7-rgb-g-pad}} | {{baseF7-rgb-b-pad}} | {{baseF7-hsv-h-pad}} | {{baseF7-hsv-s-pad}} | {{baseF7-hsv-v-pad}} |
