#!/bin/sh
# {{scheme-name}} scheme by {{scheme-author}}

color00="{{base00-hex-r}}/{{base00-hex-g}}/{{base00-hex-b}}"
color01="{{base01-hex-r}}/{{base01-hex-g}}/{{base01-hex-b}}"
color02="{{base02-hex-r}}/{{base02-hex-g}}/{{base02-hex-b}}"
color03="{{base03-hex-r}}/{{base03-hex-g}}/{{base03-hex-b}}"
color04="{{base04-hex-r}}/{{base04-hex-g}}/{{base04-hex-b}}"
color05="{{base05-hex-r}}/{{base05-hex-g}}/{{base05-hex-b}}"
color06="{{base06-hex-r}}/{{base06-hex-g}}/{{base06-hex-b}}"
color07="{{base07-hex-r}}/{{base07-hex-g}}/{{base07-hex-b}}"
color08="{{base08-hex-r}}/{{base08-hex-g}}/{{base08-hex-b}}"
color09="{{base09-hex-r}}/{{base09-hex-g}}/{{base09-hex-b}}"
color10="{{base0A-hex-r}}/{{base0A-hex-g}}/{{base0A-hex-b}}"
color11="{{base0B-hex-r}}/{{base0B-hex-g}}/{{base0B-hex-b}}"
color12="{{base0C-hex-r}}/{{base0C-hex-g}}/{{base0C-hex-b}}"
color13="{{base0D-hex-r}}/{{base0D-hex-g}}/{{base0D-hex-b}}"
color14="{{base0E-hex-r}}/{{base0E-hex-g}}/{{base0E-hex-b}}"
color15="{{base0F-hex-r}}/{{base0F-hex-g}}/{{base0F-hex-b}}"

if [ -n "$TMUX" ]; then
  # Tell tmux to pass the escape sequences through
  # (Source: http://permalink.gmane.org/gmane.comp.terminal-emulators.tmux.user/1324)
  put_template() { printf '\033Ptmux;\033\033]4;%d;rgb:%s\033\033\\\033\\' $@; }
  put_template_var() { printf '\033Ptmux;\033\033]%d;rgb:%s\033\033\\\033\\' $@; }
  put_template_custom() { printf '\033Ptmux;\033\033]%s%s\033\033\\\033\\' $@; }
elif [ "${TERM%%[-.]*}" = "screen" ]; then
  # GNU screen (screen, screen-256color, screen-256color-bce)
  put_template() { printf '\033P\033]4;%d;rgb:%s\007\033\\' $@; }
  put_template_var() { printf '\033P\033]%d;rgb:%s\007\033\\' $@; }
  put_template_custom() { printf '\033P\033]%s%s\007\033\\' $@; }
elif [ "${TERM%%-*}" = "linux" ]; then
  put_template() { [ $1 -lt 16 ] && printf "\e]P%x%s" $1 $(echo $2 | sed 's/\///g'); }
  put_template_var() { true; }
  put_template_custom() { true; }
else
  put_template() { printf '\033]4;%d;rgb:%s\033\\' $@; }
  put_template_var() { printf '\033]%d;rgb:%s\033\\' $@; }
  put_template_custom() { printf '\033]%s%s\033\\' $@; }
fi

# 16 color space
put_template 0  $color08
put_template 1  $color09
put_template 2  $color10
put_template 3  $color11
put_template 4  $color12
put_template 5  $color13
put_template 6  $color14
put_template 7  $color15
put_template 8  $color08
put_template 9  $color09
put_template 10 $color10
put_template 11 $color11
put_template 12 $color12
put_template 13 $color13
put_template 14 $color14
put_template 15 $color15

# 256 color space
put_template 16 $color01
put_template 17 $color02
put_template 18 $color03
put_template 19 $color04
put_template 20 $color05
put_template 21 $color06
put_template 22 $color07

# foreground / background / cursor color
if [ -n "$ITERM_SESSION_ID" ]; then
  # iTerm2 proprietary escape codes
  put_template_custom Pg {{base0F-hex}} # foreground
  put_template_custom Ph {{base00-hex}} # background
  put_template_custom Pi {{base0F-hex}} # bold color
  put_template_custom Pj {{base07-hex}} # selection color
  put_template_custom Pk {{base0F-hex}} # selected text color
  put_template_custom Pl {{base0F-hex}} # cursor
  put_template_custom Pm {{base00-hex}} # cursor text
else
  put_template_var 10 $color15 # foreground
  put_template_var 11 $color00 # background
  if [ "${TERM%%-*}" = "rxvt" ]; then
    put_template_var 708 $color00 # internal border (rxvt)
  fi
  put_template_custom 12 ";7" # cursor (reverse video)
fi

# clean up
unset -f put_template
unset -f put_template_var
unset -f put_template_custom
unset color00
unset color01
unset color02
unset color03
unset color04
unset color05
unset color06
unset color07
unset color08
unset color09
unset color10
unset color11
unset color12
unset color13
unset color14
unset color15
unset color16
unset color17
unset color18
unset color19
unset color20
unset color21
unset color_foreground
unset color_background
